body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(162, 0, 11, 0.868);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
  font-size: 390%;
}

h2 {
  text-align: center;
}

p {
  font-size: 110%;
}

.custom-container {
  max-width: 97%;
}

.slider-text {
  text-align: center;
  margin-top: -10px;
  padding-bottom: 5px;
  text-shadow:
    -1px -1px 0 #ffffff80,
    1px -1px 0 #ffffff80,
    -1px 1px 0 #ffffff80,
    1px 1px 0 #ffffff80;
}


.custom-search-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 100%;
}

.slider-container {
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  background-color: #edededfa;
}

.cover-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.filters-button {
  --bs-bg-opacity: 0.9;
  border: none;
  font-size: 135%;
}

.close-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -30px;

}

@font-face {
  font-family: 'Circular';
  src: local('fonts'),
    url('./fonts/CircularStdMedium.ttf') format('truetype');
  font-weight: medium;
}

.circular-font {
  font-family: "Circular";
}

@font-face {
  font-family: 'Benguiat';
  src: local('fonts'),
    url('./fonts/BenguiatStd-Bold.ttf') format('truetype');
  font-weight: bold;
}

.benguiat-font {
  font-family: "Benguiat";
}

.custom-card {
  background-color: #dadadadd;
}

.custom-background {
  background-color: #edededfa;
}

.text-with-outline {
  color: black;
  text-shadow:
    -1px -1px 0 #b5b5b5de,
    1px -1px 0 #b5b5b5de,
    -1px 1px 0 #b5b5b5de,
    1px 1px 0 #b5b5b5de;
}